* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   line-height: 1.5;
   background-color: #f2f2f2;
}

:root {
   --primaryColor: #fff;
   --secondaryColor: #a306b6;
}

nav {
   background-color: var(--secondaryColor);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .75rem;
}

nav > a {
   font-weight: bold;
   font-size: 1.2rem;
}

a {
   text-decoration: none;
   color: var(--primaryColor);
}

ul {
   list-style: none;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 250px;
   background-image: url(https://picsum.photos/id/1074/1920/600);
   background-size: cover;
   background-position: center;
}

h1 {
   color:  var(--primaryColor);
   font-size: clamp(2rem, 5vw, 3rem);
}

section {
   padding: .5rem;
   width: min(65ch, 90vw);
   margin: auto;
}

h2 {
   font-weight: bold;
   padding: 1rem 0;
}

.featuredPosts {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: .5rem;
}

.featuredPosts > h2, 
article:first-of-type {
   grid-column: span 2;
}

article {
   background-color: var(--primaryColor);
   color: var(--secondaryColor);
   padding: 1rem .5rem;
   border-radius: 5px;
   box-shadow: -2px 5px 10px rgba(0, 0, 0,20%);
}

footer {
   background-color: var(--secondaryColor);
   padding: 1rem;
   color: var(--primaryColor);
   margin-top: 2rem;
}

@media screen and (min-width: 768px){
 li {
   display: inline;
   margin: 0 .25rem;
 }

 .featuredPosts {
   grid-template-columns: 2fr repeat(2, 1fr);
 }

 article:first-of-type {
   grid-column: 1;
   grid-row: span 2;
 }
}