* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   line-height: 1.5;
   background-color: #ededed;
}

nav {
   background-color: #a306b6;
   padding: .5rem;
}

a, h1 {
   color: #fff;
}

a {
   text-decoration: none;
}

nav > a {
   font-size: 2rem;
   display: inline-block;
   padding-bottom: .5rem;
}

li {
   list-style-type: none;
   display: inline;
   margin-right: 1rem;
}

header {
   min-height: 250px;
   padding-top: 5rem;
   background-image: url(https://fastly.picsum.photos/id/599/1920/600.jpg?hmac=VqAROYXgZfqumquXfoENHyBblvIyGE4oKw1GPhRIo5A);
   background-position: center;
}

h1 {
   text-align: center;
}

section {
   width: 65ch;
   margin: auto;
}

h2 {
   margin: 1rem 0;
}

section:last-of-type {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: .5rem;
}

section:last-of-type > h2 {
   grid-column: span 2;
}

article {
   padding: 1.5rem .25rem;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: -5px 5px 10px grey;
}

footer {
   background-color: #a306b6;
   padding: .5rem;
   margin-top: 1rem;
}

footer > p {
   color: #fff;
}